html {
    min-height: 100%;
}
body {
    min-height: 100%;
    background: linear-gradient(
        to bottom right, #0266c8, #00a8ff
    );
    color: white;
}
#gamearea {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    width: 600px;
    height: 600px;
    background-color: bisque;
    border: 4px solid bisque;
 }
.bubble {
    border-radius: 100%;
    position: absolute;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.violet {
    background-color: violet;
}
.turquoise {
    background-color: turquoise;
}
.personal-card {
    display: inline-block;
    border: 1px solid gray;
    color: black;
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 12px;
    text-align: start;
}
.personal-card:hover {
    box-shadow: 0 6px 6px 0 #3029299a;
}